In [ ]:
import pandas  as pd
pd.set_option('display.max_columns', None)
import numpy as np

df = pd.read_csv('Openrent.csv')

In [ ]:
df['Monthly Rent'] = df['Rent PCM'].apply(lambda x: x.split('.')[0])
df.drop('Rent PCM',axis=1, inplace= True)

In [ ]:
def to_text(number):
    if 10 <= number % 100 <= 20:
        suffix = 'th'
    else:
        suffix = {1: 'st', 2: 'nd', 3: 'rd'}.get(number % 10, 'th')
    return str(number) + suffix +' floor'

df['Floor'] = np.random.randint(1, 20, size=df.shape[0])
df['Floor'] = df["Floor"].apply(to_text)

In [ ]:
df

,title,description,Deposit,Bills Included,Broadband,Student Friendly,Families Allowed,Pets Allowed,Smokers Allowed,DSS/LHA Covers Rent,Available From,Minimum Tenancy,Online Viewings,Garden,Parking,Fireplace,Furnishing,EPC Rating,station_distances,DSS Income Accepted,Maximum Tenancy,Students Only,EPC Not Required,Monthly Rent,Floor
0,"2 Bed Flat, Merino Gardens, E1W",Nestled in the...,"£6,461.53",No,View Offers,No,No,No,No,No,Today,12 Months,No,No,No,No,At tenant choice,C,[[' Cha...,NaN,NaN,NaN,NaN,"£5,600",11th floor
1,"1 Bed Flat, Oxendon Street, SW1Y",On the doorste...,"£2,974.99",No,View Offers,No,No,No,No,No,"01 October, 2023",12 Months,No,No,No,No,Furnished,C,[[' Pic...,NaN,NaN,NaN,NaN,"£2,578",1st floor
2,"2 Bed Flat, Covent Garden, WC2H","Lovely, spacious, newly refurnished, about 75...","£3,230.76",No,View Offers,No,No,No,No,NaN,"01 September, 2023",12 Months,No,No,No,No,Furnished,D,[[' Lei...,No,NaN,NaN,NaN,"£2,800",1st floor
3,"1 Bed Flat, Marconi House, WC2R",Beautiful luxu...,"£4,900.00",No,View Offers,No,No,No,No,No,"28 August, 2023",12 Months,NaN,No,No,No,Furnished,C,[[' Cov...,NaN,NaN,NaN,NaN,"£4,246",16th floor
4,"2 Bed Flat, Townsend House, W1D",This beautiful...,"£5,192.30",No,View Offers,No,No,No,No,No,Today,1 Months,No,No,No,No,Furnished,C,[[' Tot...,NaN,2 Months,NaN,NaN,"£4,500",12th floor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013,"Room in a Shared Flat, Hooper House, SW18","Bright and specious, this flat comprises thre...",£761.81,No,View Offers,No,No,No,No,No,Today,6 Months,No,No,No,No,Furnished,NaN,[[' Eas...,NaN,NaN,NaN,Shared Accommodation,£761,14th floor
2014,"1 Bed Flat, Campbell Road, E3","Flexi-Lets, Campbell Road E3 (3-12 months; 16...","£1,600.00",No,View Offers,No,No,No,No,No,Today,3 Months,NaN,No,No,No,Furnished,C,[[' Bow...,NaN,12 Months,NaN,NaN,"£1,600",10th floor
2015,"1 Bed Flat, Hampton Tower, E14",Experience luxury living in this exquisite on...,"£3,750.00",No,View Offers,No,No,No,No,No,"17 September, 2023",12 Months,No,No,No,No,Furnished,A,[[' Sou...,NaN,NaN,NaN,NaN,"£3,250",16th floor
2016,"1 Bed Flat, Reighton Road, E5",This one bedroom property is finished to a hi...,"£2,076.92",No,View Offers,No,No,No,No,No,"07 September, 2023",12 Months,No,No,No,No,Furnished,C,[[' Cla...,NaN,NaN,NaN,NaN,"£1,800",16th floor
2017,"1 Bed Flat, Telegraph Place, E14",A superb well ...,"£2,050.00",No,View Offers,No,No,No,No,No,"15 September, 2023",6 Months,NaN,No,No,No,Furnished,C,[[' Mud...,NaN,NaN,NaN,NaN,"£1,795",5th floor

In [ ]:
df2 = pd.read_csv('Rentola-1.csv')
df2

,title,address,link,Property type:,City:,Bedrooms:,Price:,Furnished:,description,latitude,longitude,Bathrooms:,Area:,Price per m²:,Deposit:,Available from:,Elevator:,Washing machine:,Dish washer:,Pets allowed:,Garage:,Terrace:,Swimming pool:,Balcony:
0,Rent 1 bedroom apartment in Harrow,"1 BEDROOM APARTMENT IN IMPERIAL DRIVE, PINNER,...",https://rentola.com/listings/1-bedroom-apartme...,Apartment,Harrow,1.0,1275 €,Yes,wex and co offer a selection of newly refurbis...,51.580141,-0.366367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Rent 2 bedroom apartment in Harrow,"2 BEDROOM APARTMENT IN IMPERIAL DRIVE, PINNER,...",https://rentola.com/listings/2-bedroom-apartme...,Apartment,Harrow,2.0,1594 €,Yes,wex and co offer a selection of newly refurbis...,51.580141,-0.366367,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Rent 2 bedroom apartment in Greenford,"2 BED FLAT IN GRENAN SQUARE, GREENFORD, UB6",https://rentola.com/listings/2-bed-flat-in-gre...,Apartment,Greenford,2.0,2528 €,NaN,the property is located within easy reach of g...,51.548150,-0.342295,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Rent 2 bedroom apartment of 81 m² in CoventGarden,"Temple House, 190 The Strand, Covent Garden",https://rentola.com/listings/temple-house-190-...,Apartment,Coventgarden,2.0,5084 €,Yes,A premium apartment. This exceptional two bedr...,51.511505,-0.113562,2.0,81 m2,62 €,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Rent 2 bedroom apartment in London,2 Bedroom Apartment To Rent,https://rentola.com/listings/2-bedroom-apartme...,Apartment,London,2.0,2725 €,Yes,Email agent\nContact\n[HIDDEN] Call\nApartment...,51.498449,-0.019581,NaN,NaN,NaN,2712 €,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,Rent 4 bedroom apartment in St John's Wood,"Hill Road, St John's Wood, NW8",https://rentola.com/listings/hill-road-st-john...,Apartment,St john's wood,4.0,6532 €,NaN,summary - bedrooms 4 | bathrooms 2 | reception...,51.532251,-0.178842,2.0,NaN,NaN,NaN,2023-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
887,Rent 3 bedroom apartment in Brook Street,3 bedroom property to let,https://rentola.com/listings/tryon-house-brook...,Apartment,Brook street,3.0,4175 €,NaN,regent are proud to present this spectacular t...,51.408307,-0.303667,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
888,Rent 2 bedroom apartment in London,"apartment for rent at West Tower, Pan Peninsul...",https://rentola.com/listings/apartment-for-ren...,Apartment,London,2.0,7558 €,Yes,"description a spectacular two-bedroom, two-bat...",51.499890,-0.017850,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
889,Rent 1 bedroom apartment in HIGHAMS PARK,"HIGHAMS PARK - £1,200 PCM",https://rentola.com/listings/highams-park-1-20...,Apartment,Highams park,1.0,1391 €,NaN,This impressive one bedroom ground floor prope...,51.608581,0.008399,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
890,Rent a room in Epsom,Epsom,https://rentola.com/listings/epsom-0e19e0,Room,Epsom,1.0,927 €,Yes,"*rent includes gas, electric, high speed broad...",51.333167,-0.266962,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:

df2.columns = [col.replace(':','') for col in df2.columns]
df2[['Elevator', 'Washing machine', 'Dish washer', 'Pets allowed', 'Garage','Terrace', 'Swimming pool', 'Balcony']].fillna('No', inplace = True)

df2.rename(columns = {'Price':'Monthly Rent'},inplace = True)
df2

C:\Users\kayode\AppData\Local\Temp\ipykernel_1208\2627697988.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[['Elevator', 'Washing machine', 'Dish washer', 'Pets allowed', 'Garage','Terrace', 'Swimming pool', 'Balcony']].fillna('No', inplace = True)

,title,address,link,Property type,City,Bedrooms,Monthly Rent,Furnished,description,latitude,longitude,Bathrooms,Area,Price per m²,Deposit,Available from,Elevator,Washing machine,Dish washer,Pets allowed,Garage,Terrace,Swimming pool,Balcony
0,Rent 1 bedroom apartment in Harrow,"1 BEDROOM APARTMENT IN IMPERIAL DRIVE, PINNER,...",https://rentola.com/listings/1-bedroom-apartme...,Apartment,Harrow,1.0,1275 €,Yes,wex and co offer a selection of newly refurbis...,51.580141,-0.366367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Rent 2 bedroom apartment in Harrow,"2 BEDROOM APARTMENT IN IMPERIAL DRIVE, PINNER,...",https://rentola.com/listings/2-bedroom-apartme...,Apartment,Harrow,2.0,1594 €,Yes,wex and co offer a selection of newly refurbis...,51.580141,-0.366367,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Rent 2 bedroom apartment in Greenford,"2 BED FLAT IN GRENAN SQUARE, GREENFORD, UB6",https://rentola.com/listings/2-bed-flat-in-gre...,Apartment,Greenford,2.0,2528 €,NaN,the property is located within easy reach of g...,51.548150,-0.342295,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Rent 2 bedroom apartment of 81 m² in CoventGarden,"Temple House, 190 The Strand, Covent Garden",https://rentola.com/listings/temple-house-190-...,Apartment,Coventgarden,2.0,5084 €,Yes,A premium apartment. This exceptional two bedr...,51.511505,-0.113562,2.0,81 m2,62 €,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Rent 2 bedroom apartment in London,2 Bedroom Apartment To Rent,https://rentola.com/listings/2-bedroom-apartme...,Apartment,London,2.0,2725 €,Yes,Email agent\nContact\n[HIDDEN] Call\nApartment...,51.498449,-0.019581,NaN,NaN,NaN,2712 €,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,Rent 4 bedroom apartment in St John's Wood,"Hill Road, St John's Wood, NW8",https://rentola.com/listings/hill-road-st-john...,Apartment,St john's wood,4.0,6532 €,NaN,summary - bedrooms 4 | bathrooms 2 | reception...,51.532251,-0.178842,2.0,NaN,NaN,NaN,2023-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
887,Rent 3 bedroom apartment in Brook Street,3 bedroom property to let,https://rentola.com/listings/tryon-house-brook...,Apartment,Brook street,3.0,4175 €,NaN,regent are proud to present this spectacular t...,51.408307,-0.303667,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
888,Rent 2 bedroom apartment in London,"apartment for rent at West Tower, Pan Peninsul...",https://rentola.com/listings/apartment-for-ren...,Apartment,London,2.0,7558 €,Yes,"description a spectacular two-bedroom, two-bat...",51.499890,-0.017850,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
889,Rent 1 bedroom apartment in HIGHAMS PARK,"HIGHAMS PARK - £1,200 PCM",https://rentola.com/listings/highams-park-1-20...,Apartment,Highams park,1.0,1391 €,NaN,This impressive one bedroom ground floor prope...,51.608581,0.008399,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
890,Rent a room in Epsom,Epsom,https://rentola.com/listings/epsom-0e19e0,Room,Epsom,1.0,927 €,Yes,"*rent includes gas, electric, high speed broad...",51.333167,-0.266962,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df2['Floor'] = np.random.randint(1, 20, size=df2.shape[0])
df2['Floor'] = df2["Floor"].apply(to_text)

In [ ]:
df3 = pd.read_csv('rightmove.csv',lineterminator='\n')
df3.rename(columns = {'Price':'Monthly Rent'},inplace = True)
df3['Deposit'] = df3['Deposit'].apply(lambda x:x.split('A deposit')[0])
df3['Floor'] = np.random.randint(1, 20, size=df2.shape[0])
df3['Floor'] = df3["Floor"].apply(to_text)
df3

,Address,Monthly Rent,Let available date,Deposit,Min. Tenancy,Let type,Furnish type,Council Tax,description,features
0,"Grosvenor Studios, Maybury Gardens, London, NW10","£1,750 pcm",19/08/2023,£0,Ask agent,Long term,"Furnished or unfurnished, landlord is flexible",Ask agent,A recently refurbished first floor apartment l...,"One Bedroom Flat, Available 19th August 2023, ..."
1,"Putney High Street, London","£3,100 pcm",07/08/2023,Ask agent,Ask agent,Long term,Furnished,Ask agent,Holding Deposit: £738.46SUMMARYCALLING ALL SHA...,"Furnished , Three Double Bedrooms , Open Plan ..."
2,"Great Ormond Street, London, WC1N","£2,975 pcm",31/07/2023,"£3,432",Ask agent,Long term,"Furnished or unfurnished, landlord is flexible",Ask agent,This is a newly refurbished fourth floor (no l...,"Newly Refurbished 4th Floor Flat (No Lift), Bl..."
3,Markham Square Chelsea SW3,"£2,925 pcm",22/09/2023,Ask agent,Ask agent,Long term,Unfurnished,Ask agent,A bright and fresh first floor apartment with ...,"First floor apartment , Private front balcony,..."
4,"The Avenue, Ealing","£1,699 pcm",Ask agent,Ask agent,Ask agent,Long term,Furnished,Ask agent,An exceptional 772 sq ft one double bedroom ga...,"Church Conversion, One Bedroom, Patio Garden, ..."
...,...,...,...,...,...,...,...,...,...,...
945,"Dore Avenue, London, E12","£1,300 pcm",05/08/2023,Ask agent,Ask agent,Long term,Part furnished,Ask agent,One bedroom 2nd floor purpose built flat in pr...,NaN
946,"Jodrell Road, London, E3","£3,750 pcm",04/08/2023,Ask agent,Ask agent,Long term,"Furnished or unfurnished, landlord is flexible",Ask agent,"Delightful three double bedroom, two bathroom ...",NaN
947,"Anglo Road, London, E3","£3,850 pcm",Ask agent,Ask agent,Ask agent,NaN,"Furnished or unfurnished, landlord is flexible",Ask agent,This property comprises:\r - Spacious 4 Doubl...,"4 Bedrooms, 2 Bathroom, Separate Lounge, Fitte..."
948,"The Water Tower, Lamb Brewery Studios, Chiswic...","£5,000 pcm",01/08/2023,"£5,769",Ask agent,Long term,Furnished,Ask agent,This stunning and truly unique penthouse apart...,"Unique Penthouse Apartment, Split Oer Three Fl..."
949,"Elystan Street, Chelsea","£1,798 pcm",Ask agent,Ask agent,Ask agent,Long term,Furnished,Ask agent,Incredible studio apartment to let in the hear...,"Large Studio, Private Bathroom, Fully Equipped..."

In [ ]:
num = 0
with open("All properties.txt", "w", encoding='utf-8') as text_file:
    for data in [df,df2,df3]:
        for i in data.iterrows():
            num+=1
            text_file.write(f'{num+1}. ')
            line = '.\n'.join([f'{y}: {z}' for y,z in zip(i[1].index, i[1].values)])
            text_file.write(line)
            text_file.write('\n')